<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.awi</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/Kenta/work/wifi-reconnect/awi-reconnect.sh</string>
    </array>
    
    <key>StartInterval</key>
    <integer>2700</integer>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/Kenta/.awi.out.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/Kenta/.awi.err.log</string>
</dict>
</plist>
